{{ define "main" }} {{- $readMore := (T "readMore") | default "Read more →" -}}
<div class="hx-mx-auto hx-flex hx-max-w-[90rem]">
  {{ partial "sidebar.html" (dict "context" .) }}
  <article
    class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]"
  >
    <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
      <br class="hx-mt-1.5 hx-text-sm" />
      <h1 class="hx-text-center hx-mt-4 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100" >
        {{ .Title }}
      </h1>

      <div class="content">{{ .Content }}</div>
      {{- $pages := partial "utils/sort-pages" (dict "page" . "by"
      site.Params.notes.list.sortBy "order" site.Params.notes.list.sortOrder) -}}
      {{- range $pages }}
      <div class="hx-mb-4">
        <h4>
          <a style="color: inherit; text-decoration: none"
            class="hx-block hx-font-semibold hx-mt-4 hx-text-xl"
            href="{{ .RelPermalink }}">
            {{ .Title }}
            </a>
        </h4>

        <!-- <p class="hx-opacity-50 hx-text-sm hx-mt-4 hx-leading-7">{{ partial "utils/format-date" .Date }}</p> -->

        <span class="hx-opacity-50 hx-text-sm hx-mt-4 hx-leading-7"> {{ partial "utils/format-date" .Date }}</span>

        {{- if site.Params.notes.list.displayTags -}} {{ with .Params.categories}}
        <span class="hx-opacity-90 hx-text-sm hx-leading-4 hx-mt-4">
          {{- range . }}
          <a
            href="/categories/{{ . | anchorize }}"
            class="hx-mr-2 not-prose hx-font-semibold hx-inline-flex hx-items-center hx-gap-2 hx-my-1 hx-px-3 hx-text-xs hx-text-gray-600 dark:hx-text-gray-400 hx-bg-gray-100 dark:hx-bg-neutral-800 dark:hx-border-neutral-800 hx-border hover:hx-border-gray-400 dark:hover:hx-text-gray-50 dark:hover:hx-border-gray-600 hx-transition-all hx-ease-in hx-duration-200"
          >
            {{ partial "utils/icon.html" (dict "name" "tag" "attributes"
            "height=12") }} {{ . }}
          </a>
          {{ end -}}
        </span>
        {{ end -}} {{- end -}}

        {{- if site.Params.notes.list.displayTags -}} {{with .Params.tags }}
        <span class="hx-opacity-80 hx-text-sm hx-leading-4 hx-mt-4">
          {{- range . }}
          <a
            href="/tags/{{ . | anchorize }}"
            class="hx-mr-2 not-prose hx-inline-flex hx-items-center hx-rounded-full hx-gap-2 hx-my-1 hx-px-3 hx-text-xs hx-text-gray-600 dark:hx-text-gray-400 hx-bg-gray-100 dark:hx-bg-neutral-800 dark:hx-border-neutral-800 hx-border hover:hx-border-gray-400 dark:hover:hx-text-gray-50 dark:hover:hx-border-gray-600 hx-transition-all hx-ease-in hx-duration-200"
          >
            {{ partial "utils/icon.html" (dict "name" "hashtag" "attributes"
            "height=12") }} {{ . }}
          </a>
          {{ end -}}
        </span>
        {{ end -}} {{- end -}}

        <!-- 짧은 설명이 필요하다면 -->
        <!-- <p class="hx-opacity-80 hx-mt-4 hx-leading-7">
             {{- partial "utils/page-description" . -}}
             </p> -->
        <!-- <p class="hx-opacity-80 hx-mt-4 hx-leading-7">
             <a
             class="hx-text-[color:hsl(var(--primary-hue),100%,50%)] hx-underline hx-underline-offset-2 hx-decoration-from-font"
             href="{{ .RelPermalink }}"
             >
             {{- $readMore -}}
             </a>
             </p> -->
      </div>
      {{ end -}}
    </main>
  </article>
  <!-- <div class="max-xl:hx-hidden hx-h-0 hx-w-64 hx-shrink-0"></div> -->
</div>
{{- end -}}
