.c4w-badges a {
    margin: 0px 4px;
}

/* .hx-text-3xl { */
/*   font-size: 1.8rem; */
/* } */

/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* .content { */
/*   font-family: "IBM Plex Sans KR" "Times New Roman", Times, serif; */
/*   /\* font-family: "Noto Sans KR", , ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /\\* 4 *\\/ *\/ */
/* } */

html,
:host {
  /* line-height: 1.5; /\* 1 *\/ */
  /* -webkit-text-size-adjust: 100%; /\* 2 *\/ */
  /* -moz-tab-size: 4; /\* 3 *\/ */
  /* -o-tab-size: 4; */
  /*    tab-size: 4; /\* 3 *\/ */
  font-family: "Noto Sans KR", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  /* font-feature-settings: normal; /\* 5 *\/ */
  /* font-variation-settings: normal; /\* 6 *\/ */
  /* -webkit-tap-highlight-color: transparent; /\* 7 *\/ */
}

.org-todo,
.todo,
.org-done,
.done,
.timestamp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

.TODO {
  background-color: hsl(var(--primary-hue) var(--primary-saturation) 80% / 0.7);
}

.DONE {
  background-color: hsl(var(--primary-hue) var(--primary-saturation) 10% / 0.1);
}

.timestamp {
  background-color: hsl(var(--primary-hue) var(--primary-saturation) 10% / 0.1);
}

/* a:hover { */
/*   background-color: hsl(var(--primary-hue) var(--primary-saturation) 10% / 0.1); */
/* } */

/* a:visited { */
/*   color: hsl(var(--primary-hue) var(--primary-saturation) 20% / 0.3); */
/* } */

/* .content { */
/*   font-family: "Times New Roman", Times, serif; */
/* } */

/* :root { */
/*   --primary-hue: 100deg; */
/*   --primary-saturation: 90%; */
/* } */


.sidenote {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: left;
        clear: left;
        margin-left: -23vw;
        text-align: right;

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}

/* Narrow viewport */
@media (max-width: 1400px) {
    .sidenote {
        float: left;
        text-align: left;

        width: 100%;
        margin: 1rem 0;
        padding-left: 15%;
        }
}


/* Sidenote counter */
body {
    counter-reset: sidenote-counter;
}
.sidenote-number {
    counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.5rem;
}


@media (min-width: 1400px) {
    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote-number:hover .sidenote {
        background-color: #f8f0d0;
    }
}

/* h1 제목 */
.content h1 {
  color: #005f5f; /* 라이트 모드 색상 (진한 파랑) */
}
.dark .content h1 {
  color: #6ae4b9; /* 다크 모드 색상 (밝은 파랑) */
}

.content h2 {
  color: #000000;
  border-bottom-color: #000000;
}
.dark .content h2 {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

.content h3 {
  color: #624416;
  border-bottom-color: #624416;
}
.dark .content h3 {
  color: #d2b580;
}

.content h4 {
  color: #193668;
  border-bottom-color: #193668;
}
.dark .content h4 {
  color: #c6daff;
}

.content h5 {
  color: #721045;
  border-bottom-color: #721045;
}
.dark .content h5 {
  color: #feacd0;
}

